{% extends 'base.html.twig' %}


{% block content %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Pacientes</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="form-group row">
                <div class="col-md-4 col-sm-4">
                    {% if is_granted('ROLE_AREA') or is_granted('ROLE_LABORATORIO') or is_granted("ROLE_HOSPITAL") %}
                        <a class="btn btn-success" href="{{ path('paciente_new') }}"><span class="fa fa-plus"></span>Adicionar</a>
                    {% endif %}
                </div>
                {% if filtro is defined %}
                    <div class="col-md-4">

                        <a class="btn btn-info" href="{{ path('paciente_index') }}"><span class="fa fa-remove"></span>Eliminar
                            Filtro</a>

                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>  <span class="circulo-rojo"> </span><a
                                href="{{ path('paciente_filter_index',{'estado':'Ingresado'}) }}">Ingresado</a></span><span>  <span
                                class="circulo-verde"> </span><a
                                href="{{ path('paciente_filter_index',{'estado':'Alta'}) }}">Alta</a></span>
                    <span> <span class="circulo-negro"> </span><a
                                href="{{ path('paciente_filter_index',{'estado':'Fallecido'}) }}">Fallecido</a></span>
                    <span>  <span class="circulo-amarillo"> </span><a
                                href="{{ path('paciente_filter_index',{'estado':'Pendiente'}) }}">Pendiente por confirmar ingreso</a></span>
                    <span> <span class="circulo-naranja"></span> <a
                                href="{{ path('paciente_filter_index',{'estado':'Pendiente ubicacion'}) }}">Pendiente por ubicacion</a></span>

                    <span> <span class="circulo-gris"></span> <a
                                href="{{ path('paciente_filter_index',{'estado':'Pendiente Hospital'}) }}">Pendiente por Hospital</a></span>
                    <span> <span class="circulo-azul"></span> <a
                                href="{{ path('paciente_filter_index',{'estado':'Pendiente Remision'}) }}">Pendiente por Remision</a></span>

                    <span> <span class="circulo-verde-claro "></span> <a
                                href="{{ path('paciente_filter_index',{'estado':'Alta clinica'}) }}">Alta clinica</a></span>

                    <span> <span class="fa fa-heartbeat"></span> <a
                                href="{{ path('paciente_filter_index',{'estado':'Sin ingresar'}) }}">Sin Ingresar</a></span>
                    <span> <span class="fa fa-home"></span> <a
                                href="{{ path('paciente_filter_index',{'estado':'Ingreso domicilio'}) }}">Ingreso domiciliario</a></span>

                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            {% if is_granted('ROLE_AREA') %}
                                <th>Fecha Confirmado</th>
                            {% endif %}
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Carnet</th>
                            <th>Pasaporte</th>
                            <th>Edad</th>
                            <th>Riesgo</th>
                            <th>Provincia</th>
                            <th>Municipio</th>
                            <th>Area de Salud</th>
                            {% if is_granted('ROLE_AREA') %}
                            <th>Consultorio</th>
                            <th>Direccion</th>
                            {% endif %}
                            <th>Centro</th>
                            <th>Transporte Sanitario</th>
                            {% if is_granted("ROLE_COORDINADOR_MUNICIPAL") or is_granted("ROLE_COORDINADOR_PROVINCIAL") %}
                                <th>Observaciones</th>
                            {% endif %}
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for paciente in pacientes %}
                            <tr>
                                {% if is_granted('ROLE_AREA') %}

                                    <td>

                                        {% if paciente.getIngresoActual()!=null %}
                                        {{ paciente.getIngresoActual().fechaconfirmacion is empty ?'': paciente.getIngresoActual().fechaconfirmacion | date('m/d/Y')  }}
                                    {% endif %}

                                    </td>
                                {% endif %}
                                <td><span class="{{ paciente.getColorEstado }}"></span><a
                                            href="{{ path('paciente_show', {'id': paciente.id}) }}">{{ paciente.nombre }}</a>
                                </td>
                                <td>{{ paciente.apellidos }}</td>
                                <td>{{ paciente.carnet }}</td>
                                <td>{{ paciente.pasaporte }}</td>
                                <td>{{ paciente.edad }}</td>
                                <td>{{ paciente.riesgo }}</td>
                                <td>{{ paciente.provincia }}</td>
                                <td>{{ paciente.municipio }}</td>
                                <td>{{ paciente.area }}</td>
                                {% if is_granted('ROLE_AREA') %}
                                <td>{{ paciente.consultorio }}</td>

                                <td>{{ paciente.direccionres }}</td>
                                {% endif %}
                                <td>
                                    {% if paciente.isIngresado() or paciente.isPendienteIngreso() %}
                                        {{ paciente.getIngresoActual().centro }}/
                                        {{ paciente.getIngresoActual.sala }}/
                                        {{ paciente.getIngresoActual.cama }}
                                    {% endif %}
                                </td>
                                <td>{% if paciente.getTransporteSanitario %}
                                        SI
                                    {% else %}
                                        NO
                                    {% endif %}
                                </td>
                                {% if is_granted("ROLE_COORDINADOR_MUNICIPAL") or is_granted("ROLE_COORDINADOR_PROVINCIAL") %}
                               <td>{{  paciente.observaciones }}</td>
                                {% endif %}
                                <td>
                                    {% if is_granted('ROLE_COORDINADOR_PROVINCIAL') and (paciente.isRemision() or paciente.isPendienteHospital()) %}
                                        <a  href="{{ path('rechazar_solicitud',{'id':paciente.id}) }}"
                                           title="Rechazar peticion"><span
                                                    class="fa fa-thumbs-down" style="color: darkred"></span></a> {# Rechazar  Peticion#}
                                    {% endif %}
                                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                                        <a href="{{ path('super_delete',{'id':paciente.id}) }}" onclick="return confirm('Estas seguro que deseas eliminar este paciente');"
                                           title="Eliminar"><span
                                                    class="fa fa-trash"></span></a> {#Eliminar pacientes, ingresos y pruebas#}
                                    {% endif %}
                                    {% if is_granted('ROLE_AREA') or is_granted("ROLE_CENTRO") or is_granted("ROLE_HOSPITAL") %}
                                    {% if paciente.getIngresoActual==null %}
                                        <a href="{{ path('ingreso_domicilio',{'id':paciente.id}) }}" onclick="return confirm('Estas seguro que deseas enviar el paciente a ingreso domiciliario');"
                                           title="Ingreso Domicilio"><span
                                                    class="fa fa-home"></span></a> {#Ingreso Domicilio#}
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted('ROLE_LABORATORIO') %}
                                        <a onclick="PrepararPrueba(this)" href="#" data-paciente="{{ paciente.id }}"
                                           title="Registrar resultado de prueba"><span
                                                    class="fa fa-eyedropper"></span></a> {# Registrar Prueba#}
                                    {% endif %}
                                    {% if is_granted('ROLE_CENTRO')  or is_granted('ROLE_HOSPITAL') or is_granted('ROLE_ADMIN') %}
                                        {% if paciente.isPendienteIngreso() %}
                                            <a href="{{ path('confirmar_ingreso',{'id':paciente.getIngresoActual.id}) }}"
                                               title="Confirmar Ingreso"><span
                                                        class="fa fa-check"></span></a> {#Confirmar Ingreso#}
                                          {#   {% if paciente.acompanante==null %}
                                                <a onclick="PrepararAcompannante(this)" href="#"
                                                   data-paciente="{{ paciente.id }}" title="Asignar acompañante"><span
                                                            class="fa fa-user-md"></span></a> {# Asignar acompañante#}
                                           {#  {% endif %}
                                        #}
                                        {% endif %}


                                        {% if paciente.isIngresado()  %}
                                            {% if paciente.acompanante==null %}
                                                <a onclick="PrepararAcompannante(this)" href="#"
                                                   data-paciente="{{ paciente.id }}" title="Asignar acompañante"><span
                                                            class="fa fa-user-md"></span></a> {# Asignar acompañante#}
                                            {% endif %}
                                          {% if paciente.getIngresoActual.cama is not null %}
                                            <a onclick="PrepararPrueba(this)" href="#" data-paciente="{{ paciente.id }}"
                                               title="Registrar resultado de prueba"><span
                                                        class="fa fa-eyedropper"></span></a> {# Registrar Prueba#}

                                            <a href="{{ path('paciente_remision',{'id':paciente.id}) }}" onclick="return confirm('¿Estas seguro que deseas solicitar una remision del paciente?')"
                                               title="Solicitar remision" style="color: red;"><span
                                                        class="fa fa-medkit"></span></a> {#Solicitar remision#}
                                            <a href="{{ path('alta',{'id':paciente.getIngresoActual.id}) }}" onclick="return confirm('¿Estas seguro que desea darle alta al paciente?, si el paciente no posee prueba negativa se procedera a alta clinica')"
                                               title="Alta"><span class="fa fa-taxi"></span></a> {#Alta#}
                                            <a href="{{ path('paciente_fallecio',{'id':paciente.getIngresoActual.id}) }}" onclick="return  confirm('Estas seguro que deseas reportar el paciente como fallecido');"
                                               title="Alta por fallecimiento" style="color: black;"><span
                                                        class="fa fa-heart"></span></a> {#Alta fallecimiento#}
                                           {% endif %}
                                            <a href="#" onclick="PrepararCambio(this)"
                                               title="Reubicar dentro del centro"
                                               data-ingreso="{{ paciente.getIngresoActual.id }}"
                                               style="color: green;"><span
                                                        class="fa fa-building"></span></a> {#Reubicar dentro del centro#}
                                        {% endif %}
                                        {% if(paciente.isAlta() and   paciente.fueTransportado()!=null) %}
                                            <a href="{{ path('salida_centro',{'id':paciente.fueTransportado().id}) }}"
                                               title="Confirmar salida del centro" style="color: green;"><span
                                                        class="fa fa-check-square-o"></span></a> {#Confirmar salida del centro#}
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted('ROLE_AREA') and( (paciente.getIngresoActual()==null and not paciente.isFallecido() ) or paciente.isPendienteUbic() or paciente.isDomicilio) %}


                                        <a href="{{ path('paciente_hospital', {'id': paciente.id}) }}"
                                           title="Solicitar ingreso a un hospital" onclick="return confirm('Estas seguro que deseas solicitar ingreso a un hospital del paciente')"
                                           style="color: red;"><span
                                                    class="fa fa-hospital-o" ></span></a> {#Solicitar ingreso a un hospital#}
                                            {% if paciente.isDomicilio %}
                                                <a href="{{ path('alta',{'id':paciente.getIngresoActual.id}) }}" onclick="return confirm('¿Estas seguro que desea darle alta al paciente?, si el paciente no posee prueba negativa se procedera a alta clinica')"
                                                   title="Alta"><span class="fa fa-taxi"></span></a> {#Alta#}
                                                <a onclick="PrepararPrueba(this)" href="#" data-paciente="{{ paciente.id }}"
                                                   title="Registrar resultado de prueba"><span
                                                            class="fa fa-eyedropper"></span></a> {# Registrar Prueba#}
                                                {% endif %}

                                    {% endif %}

                                    {% if is_granted('ROLE_CENTRO') or is_granted('ROLE_ADMIN') or  is_granted('ROLE_COORDINADOR_MUNICIPAL') %}
                                        {% if paciente.isIngresado() or paciente.isPendienteUbic() %}
                                            <a href="{{ path('paciente_hospital',{'id':paciente.id}) }}"
                                               title="Solicitar ingreso a un hospital" onclick="return confirm('Estas seguro que deseas solicitar ingreso a un hospital del paciente')"

                                               style="color: red;"><span
                                                        class="fa fa-hospital-o"></span></a> {#Solicitar ingreso a un hospital#}


                                        {% endif %}
                                    {% endif %}
                                        {% if ((paciente.isAlta and  paciente.fueTransportado()==null) or paciente.ingresos==null or paciente.ingresos.count==0 or paciente.isAltaClinica) and is_granted('ROLE_AREA') %}
                                            <a href="#" onclick="PrepararIngreso(this)"
                                               data-paciente="{{ paciente.id }}" title="Solicitar Ingreso"><span
                                                        class="fa fa-ambulance"></span></a> {#Solicitar Ingreso#}
                                        {% endif %}


                                    {% if is_granted('ROLE_COORDINADOR_MUNICIPAL') or is_granted('ROLE_COORDINADOR_PROVINCIAL') or is_granted('ROLE_ADMIN') %}
                                        {% if paciente.isPendienteIngreso() %}
                                            <a href="{{ path('retirar_ingreso',{'id':paciente.getIngresoActual.id}) }}"
                                               title="Retirar Ubicacion" style="color: green;"><span
                                                        class="fa fa-user-times"></span></a> {#Eliminar ingreso#}
                                        {% endif %}

                                        {% if paciente.isPendienteUbic() or paciente.isRemision() or paciente.isPendienteHospital() %}
                                            <a href="{{ path('ingreso_edit',{'id':paciente.getIngresoActual.id}) }}"
                                               title="Ubicar" style="color: green;"><span
                                                        class="fa fa-street-view"></span></a> {#Asignar una ubicacion#}
                                        {% endif %}

                                    {% endif %}

                                    <a title="Editar Paciente"
                                       href="{{ path('paciente_edit', {'id': paciente.id}) }}"><span
                                                class="fa fa-edit"></span></a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {{ include('paciente/_delete_form.html.twig') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <!-- Small modal -->

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Fecha de Confirmaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="data1">
                    <input id="confirm" class="date-picker form-control" placeholder="dd/mm/yyyy" type="text"
                           required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'"
                           onclick="this.type='date'" onblur="this.type='text'">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="#" data-process="false" onclick="SendIngreso(this)" class="btn btn-primary"><span
                                class="fa fa-send"></span>Solicitar</a>
                </div>

            </div>
        </div>
    </div>
    <!-- /modals -->



    <!-- Small modal -->

    <div class="modal fade prueba-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Registrar Prueba</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="data-id">
                    <b>Fecha toma de muestra</b>
                    <input id="prueba" class="date-picker form-control" placeholder="dd/mm/yyyy" type="text"
                           required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'"
                           onclick="this.type='date'" onblur="this.type='text'">
                    <br>
                    <b>Resultado</b>
                    <select id="resultado" class="selectpicker form-control" placeholder="Resultado" required>
                        <option>
                            Positivo
                        </option>
                        <option>
                            Negativo
                        </option>
                    </select>
                    <br>
                    <b>Tipo de prueba</b>
                    <select id="tipo" class="selectpicker form-control" placeholder="Tipo" required>
                        <option>
                            PCR
                        </option>
                        <option>
                            Test Rapido
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="#" data-process="false" onclick="SendPrueba(this,event)"
                       class="btn btn-primary">Actualizar</a>
                </div>

            </div>
        </div>
    </div>
    <!-- /modals -->



    <!-- Small modal -->
    {% if is_granted('ROLE_CENTRO')  or is_granted('ROLE_HOSPITAL') %}
        <div class="modal fade ubicacion-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel2">Reubicar paciente</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="data-ubicacion">
                        <b>Centro</b>
                        <select id="centro_ubic" class="selectpicker form-control" placeholder="Centro" required
                                onchange="getSalas()">
                            <option selected="selected"></option>
                            <option value="{{ app.user.centro.id }}">
                                {{ app.user.centro }}
                            </option>
                            {% for anex in app.user.centro.centros %}
                                <option value="{{ anex.id }}">
                                    {{ anex }}
                                </option>
                            {% endfor %}
                        </select>
                        <br>
                        <b>Sala</b>
                        <select id="sala" class="selectpicker form-control" placeholder="Sala" required
                                onchange="getCamas()">

                        </select>
                        <br>
                        <b>Cama</b>
                        <select id="cama" class="selectpicker form-control" placeholder="Cama" required>

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <a href="#" data-process="false" onclick="SendUbicacion(this,event)" class="btn btn-primary">Actualizar</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- /modals -->


        <div class="modal fade acompanante-modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel2">Asignar acompa&ntilde;ante</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="data-acompannante">

                        <b>Acompa&ntilde;ante</b>
                        <br>
                        <select id="acompannante" class="form-control" style="width: 100%!important;"
                                placeholder="Nombre o CI o Pasaporte" required>

                        </select>
                        <br>
                        <b>Organizacion</b>
                        <select id="estrategia" class="selectpicker form-control" placeholder="Cama" required>
                            <option value="1">
                                Juntos en la cama del paciente
                            </option>
                            <option value="2">
                                Juntos en la cama del acompa&ntilde;ante
                            </option>
                            <option value="3">
                                Mantener como estan
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <a href="#" data-process="false" onclick="SendAcompannante(this,event)" class="btn btn-primary">Actualizar</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- /modals -->
    {% endif %}
{% endblock %}
{% block scripts %}

    <script>
        function SendIngreso(element) {
            $fecha = $('#confirm').val();
            fechas = $fecha.split("-");
            $id = $('#data1').val();
            basehref = "{{ path('ingreso_request',{'id':'replaceid','d':'replaceday','m':'replacem','y':'replacey'}) }}";
            basehref += "";
            basehref = basehref.replace("replaceid", $id);

            basehref = basehref.replace("replaceday", fechas[0]);
            basehref = basehref.replace("replacem", fechas[1]);
            basehref = basehref.replace("replacey", fechas[2]);
            if ($fecha != '' && $fecha != undefined) {
                $(element).attr("data-process", "true");
                $(element).attr("href", basehref);

            }

        }

        function PrepararIngreso(element) {
            id = $(element).attr('data-paciente');
            $('#data1').val(id);
            $('.bs-example-modal-sm').modal('show');
        }

        function PrepararPrueba(element) {
            id = $(element).attr('data-paciente');
            $('#data-id').val(id);
            $('.prueba-modal').modal('show');
        }

        function SendPrueba(element, event) {
            if ($(element).attr("data-process") != "true") {

                $fecha = $('#prueba').val();
                fechas = $fecha.split("-");
                $id = $('#data-id').val();
                $tipo = $('#tipo').val();
                $result = $('#resultado').val();

                basehref = "{{ path('registrar_prueba',{'id':'replaceid','resultado':'replaceres','tipo':'replacetipo','d':'replaceday','m':'replacem','y':'replacey'}) }}";
                basehref += "";
                basehref = basehref.replace("replaceid", $id);
                basehref = basehref.replace("replaceday", fechas[0]);
                basehref = basehref.replace("replacem", fechas[1]);
                basehref = basehref.replace("replacey", fechas[2]);
                basehref = basehref.replace("replacetipo", $tipo);
                basehref = basehref.replace("replaceres", $result);

                if (($fecha != '' && $fecha != undefined) && ($tipo != '' && $tipo != undefined) && ($result != '' && $result != undefined)) {
                    $(element).attr("data-process", "true");
                    $(element).attr("href", basehref);
                    $(element).click()
                } else {
                    return;
                }
            }
        }

        function SendUbicacion(element) {
            $id = $('#data-ubicacion').val();
            $centro = $('#centro_ubic').val();
            $salas = $('#sala').val();
            $cama = $('#cama').val();

            basehref = "{{ path('paciente_reubicar',{'id':'replaceid','centro':'replacecentro','sala':'replacesala','cama':'replacecama'}) }}";
            basehref += "";
            basehref = basehref.replace("replaceid", $id);
            basehref = basehref.replace("replacesala", $salas);
            basehref = basehref.replace("replacecama", $cama);
            basehref = basehref.replace("replacecentro", $centro);
            if ($salas != '' && $salas != undefined && $cama != '' && $cama != undefined && $centro!=undefined) {
                $(element).attr("data-process", "true");
                $(element).attr("href", basehref);
            }
        }


        function PrepararCambio(element) {
            id = $(element).attr('data-ingreso');
            $('#data-ubicacion').val(id);
            $('.ubicacion-modal').modal('show');
        }

        function PrepararAcompannante(element) {
            id = $(element).attr('data-paciente');
            $('#data-acompannante').val(id);
            $('.acompanante-modal').modal('show');
        }
        function SendAcompannante(element,event){
            $id = $('#data-acompannante').val();
            $estrategia = $('#estrategia').val();
            $acompanante = $('#acompannante').val();

            basehref = "{{ path('paciente_acompanante',{'paciente':'replacepac','estrategia':'replacest','acompanante':'replaceacom'}) }}";
            basehref += "";
            basehref = basehref.replace("replacepac", $id);
            basehref = basehref.replace("replacest", $estrategia);
            basehref = basehref.replace("replaceacom", $acompanante);

            if ($acompanante != '' && $acompanante != undefined && $estrategia != '' && $estrategia != undefined) {
                $(element).attr("data-process", "true");
                $(element).attr("href", basehref);
            }
        }
        function getCamas() {
            baseurl = "{{ path('getcamas',{'id':'replaceid'}) }}";
            sala = $('#sala');
            val = sala.val();

            if (val != "" && val != undefined) {
                var url = baseurl.replace("replaceid", val);
                $.ajax({
                    type: "GET",
                    url: url,
                    //  data: myusername,
                    cache: false,
                    success: function (data) {
                        html = "";
                        if (data.length == 0) {
                            alert("No existen camas disponibles en la sala seleccionada");
                        }
                        for ($i = 0; $i < data.length; $i++) {
                            html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                        }
                        $('#cama').html(html);
                    }
                });
            }
        }
        function getSalas() {
            baseurl = "{{ path('getsalas',{'id':'replaceid'}) }}";
            centro = $('#centro_ubic');
            val = centro.val();

            if (val != "" && val != undefined) {
                var url = baseurl.replace("replaceid", val);
                $.ajax({
                    type: "GET",
                    url: url,
                    //  data: myusername,
                    cache: false,
                    success: function (data) {
                        html = "";
                        if (data.length == 0) {
                            alert("No existen camas disponibles en la sala seleccionada");
                        }
                        for ($i = 0; $i < data.length; $i++) {
                            html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                        }
                        $('#sala').html(html);
                        getCamas();
                    }
                });
            }
        }
    </script>
{% endblock %}
