{% extends 'base.html.twig' %}


{% block content %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Pacientes</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="form-group row">
                <div class="col-md-4 col-sm-4">
                    {% if is_granted('ROLE_AREA') or is_granted('ROLE_LABORATORIO') or is_granted("ROLE_HOSPITAL") %}
                        <a class="btn btn-success" href="{{ path('paciente_new') }}"><span class="fa fa-plus"></span>Adicionar</a>
                    {% endif %}
                </div>

                    <div class="col-md-4" id="filtro">



                    </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>  <span class="circulo-rojo"> </span><a
                                href="#" onclick="applyFiltro(this)" data-filtro="Ingresado">Ingresado</a></span><span>  <span
                                class="circulo-verde"> </span><a
                                href="#" onclick="applyFiltro(this)" data-filtro="Alta">Alta</a></span>
                    <span> <span class="circulo-negro"> </span><a
                                href="#" onclick="applyFiltro(this)" data-filtro="Fallecido">Fallecido</a></span>
                    <span>  <span class="circulo-amarillo"> </span><a
                                href="#" onclick="applyFiltro(this)" data-filtro="Pendiente">Pendiente por confirmar ingreso</a></span>
                    <span> <span class="circulo-naranja"></span> <a
                                href="#" onclick="applyFiltro(this)" data-filtro="Pendiente ubicacion">Pendiente por ubicacion</a></span>

                    <span> <span class="circulo-gris"></span> <a
                                href="#" onclick="applyFiltro(this)" data-filtro="Pendiente Hospital">Pendiente por Hospital</a></span>
                    <span> <span class="circulo-azul"></span> <a
                                href="#" onclick="applyFiltro(this)" data-filtro="Pendiente Remision">Pendiente por Remision</a></span>

                    <span> <span class="circulo-verde-claro "></span> <a
                                href="#" onclick="applyFiltro(this)" data-filtro="Alta clinica">Alta clinica</a></span>

                    <span> <span class="fa fa-heartbeat"></span> <a
                                href="#" onclick="applyFiltro(this)" data-filtro="Sin Ingresar">Sin Ingresar</a></span>
                    <span> <span class="fa fa-home"></span> <a
                                href="#" onclick="applyFiltro(this)" data-filtro="Ingreso domicilio">Ingreso domiciliario</a></span>

                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-12">

                    <table id="pacientes" class="table table-responsive" style="width: 100%!important">
                        <thead>
                        <tr>
                            {% if is_granted('ROLE_AREA') %}
                                <th>Fecha Confirmado</th>
                            {% endif %}
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Carnet</th>
                            <th>Pasaporte</th>
                            <th>Edad</th>
                            <th>Riesgo</th>
                            <th>Provincia</th>
                            <th>Municipio</th>
                            <th>Area de Salud</th>
                            {% if is_granted('ROLE_AREA') %}
                            <th>Consultorio</th>
                            <th>Direccion</th>
                            {% endif %}
                            <th>Centro</th>
                            <th>Sala</th>
                            <th>Cama</th>
                            <th>Transporte Sanitario</th>
                            {% if is_granted("ROLE_COORDINADOR_MUNICIPAL") or is_granted("ROLE_COORDINADOR_PROVINCIAL") %}
                                <th>Observaciones</th>
                            {% endif %}
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>


    <!-- Small modal -->

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Fecha de Confirmaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="data1">
                    <input id="confirm" class="date-picker form-control" placeholder="dd/mm/yyyy" type="text"
                           required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'"
                           onclick="this.type='date'" onblur="this.type='text'">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="#" data-process="false" onclick="SendIngreso(this)" class="btn btn-primary"><span
                                class="fa fa-send"></span>Solicitar</a>
                </div>

            </div>
        </div>
    </div>
    <!-- /modals -->



    <!-- Small modal -->

    <div class="modal fade prueba-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Registrar Prueba</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="data-id">
                    <b>Fecha toma de muestra</b>
                    <input id="prueba" class="date-picker form-control" placeholder="dd/mm/yyyy" type="text"
                           required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'"
                           onclick="this.type='date'" onblur="this.type='text'">
                    <br>
                    <b>Resultado</b>
                    <select id="resultado" class="selectpicker form-control" placeholder="Resultado" required>
                        <option>
                            Positivo
                        </option>
                        <option>
                            Negativo
                        </option>
                    </select>
                    <br>
                    <b>Tipo de prueba</b>
                    <select id="tipo" class="selectpicker form-control" placeholder="Tipo" required>
                        <option>
                            PCR
                        </option>
                        <option>
                            Test Rapido
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="#" data-process="false" onclick="SendPrueba(this,event)"
                       class="btn btn-primary">Actualizar</a>
                </div>

            </div>
        </div>
    </div>
    <!-- /modals -->



    <!-- Small modal -->
    {% if is_granted('ROLE_CENTRO')  or is_granted('ROLE_HOSPITAL') %}
        <div class="modal fade ubicacion-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel2">Reubicar paciente</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="data-ubicacion">
                        <b>Centro</b>
                        <select id="centro_ubic" class="selectpicker form-control" placeholder="Centro" required
                                onchange="getSalas()">
                            <option selected="selected"></option>
                            <option value="{{ app.user.centro.id }}">
                                {{ app.user.centro }}
                            </option>
                            {% for anex in app.user.centro.centros %}
                                <option value="{{ anex.id }}">
                                    {{ anex }}
                                </option>
                            {% endfor %}
                        </select>
                        <br>
                        <b>Sala</b>
                        <select id="sala" class="selectpicker form-control" placeholder="Sala" required
                                onchange="getCamas()">

                        </select>
                        <br>
                        <b>Cama</b>
                        <select id="cama" class="selectpicker form-control" placeholder="Cama" required>

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <a href="#" data-process="false" onclick="SendUbicacion(this,event)" class="btn btn-primary">Actualizar</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- /modals -->


        <div class="modal fade acompanante-modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel2">Asignar acompa&ntilde;ante</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="data-acompannante">

                        <b>Acompa&ntilde;ante</b>
                        <br>
                        <select id="acompannante" class="form-control" style="width: 100%!important;"
                                placeholder="Nombre o CI o Pasaporte" required>

                        </select>
                        <br>
                        <b>Organizacion</b>
                        <select id="estrategia" class="selectpicker form-control" placeholder="Cama" required>
                            <option value="1">
                                Juntos en la cama del paciente
                            </option>
                            <option value="2">
                                Juntos en la cama del acompa&ntilde;ante
                            </option>
                            <option value="3">
                                Mantener como estan
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <a href="#" data-process="false" onclick="SendAcompannante(this,event)" class="btn btn-primary">Actualizar</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- /modals -->
    {% endif %}
{% endblock %}
{% block scripts %}

    <script>
        var filtro="";
        function applyFiltro(element){
            filtro=$(element).attr("data-filtro");
            tablap.ajax.reload();
            if(filtro!=""){
                $('#filtro').html("<a class=\"btn btn-info\" href=\"#\" onclick=\"filtro='';tablap.ajax.reload();$('#filtro').html('');\"><span class=\"fa fa-remove\"></span>Elimina Filtro</a>");
            }else{
                $('#filtro').html("");
            }
        }
        function SendIngreso(element) {
            $fecha = $('#confirm').val();
            fechas = $fecha.split("-");
            $id = $('#data1').val();
            basehref = "{{ path('ingreso_request',{'id':'replaceid','d':'replaceday','m':'replacem','y':'replacey'}) }}";
            basehref += "";
            basehref = basehref.replace("replaceid", $id);

            basehref = basehref.replace("replaceday", fechas[0]);
            basehref = basehref.replace("replacem", fechas[1]);
            basehref = basehref.replace("replacey", fechas[2]);
            if ($fecha != '' && $fecha != undefined) {
                $(element).attr("data-process", "true");
                $(element).attr("href", basehref);

            }

        }

        function PrepararIngreso(element) {
            id = $(element).attr('data-paciente');
            $('#data1').val(id);
            $('.bs-example-modal-sm').modal('show');
        }

        function PrepararPrueba(element) {
            id = $(element).attr('data-paciente');
            $('#data-id').val(id);
            $('.prueba-modal').modal('show');
        }

        function SendPrueba(element, event) {
            if ($(element).attr("data-process") != "true") {

                $fecha = $('#prueba').val();
                fechas = $fecha.split("-");
                $id = $('#data-id').val();
                $tipo = $('#tipo').val();
                $result = $('#resultado').val();

                basehref = "{{ path('registrar_prueba',{'id':'replaceid','resultado':'replaceres','tipo':'replacetipo','d':'replaceday','m':'replacem','y':'replacey'}) }}";
                basehref += "";
                basehref = basehref.replace("replaceid", $id);
                basehref = basehref.replace("replaceday", fechas[0]);
                basehref = basehref.replace("replacem", fechas[1]);
                basehref = basehref.replace("replacey", fechas[2]);
                basehref = basehref.replace("replacetipo", $tipo);
                basehref = basehref.replace("replaceres", $result);

                if (($fecha != '' && $fecha != undefined) && ($tipo != '' && $tipo != undefined) && ($result != '' && $result != undefined)) {
                    $(element).attr("data-process", "true");
                    $(element).attr("href", basehref);
                    $(element).click()
                } else {
                    return;
                }
            }
        }

        function SendUbicacion(element) {
            $id = $('#data-ubicacion').val();
            $centro = $('#centro_ubic').val();
            $salas = $('#sala').val();
            $cama = $('#cama').val();

            basehref = "{{ path('paciente_reubicar',{'id':'replaceid','centro':'replacecentro','sala':'replacesala','cama':'replacecama'}) }}";
            basehref += "";
            basehref = basehref.replace("replaceid", $id);
            basehref = basehref.replace("replacesala", $salas);
            basehref = basehref.replace("replacecama", $cama);
            basehref = basehref.replace("replacecentro", $centro);
            if ($salas != '' && $salas != undefined && $cama != '' && $cama != undefined && $centro!=undefined) {
                $(element).attr("data-process", "true");
                $(element).attr("href", basehref);
            }
        }


        function PrepararCambio(element) {
            id = $(element).attr('data-ingreso');
            $('#data-ubicacion').val(id);
            $('.ubicacion-modal').modal('show');
        }

        function PrepararAcompannante(element) {
            id = $(element).attr('data-paciente');
            $('#data-acompannante').val(id);
            $('.acompanante-modal').modal('show');
        }
        function SendAcompannante(element,event){
            $id = $('#data-acompannante').val();
            $estrategia = $('#estrategia').val();
            $acompanante = $('#acompannante').val();

            basehref = "{{ path('paciente_acompanante',{'paciente':'replacepac','estrategia':'replacest','acompanante':'replaceacom'}) }}";
            basehref += "";
            basehref = basehref.replace("replacepac", $id);
            basehref = basehref.replace("replacest", $estrategia);
            basehref = basehref.replace("replaceacom", $acompanante);

            if ($acompanante != '' && $acompanante != undefined && $estrategia != '' && $estrategia != undefined) {
                $(element).attr("data-process", "true");
                $(element).attr("href", basehref);
            }
        }
        function getCamas() {
            baseurl = "{{ path('getcamas',{'id':'replaceid'}) }}";
            sala = $('#sala');
            val = sala.val();

            if (val != "" && val != undefined) {
                var url = baseurl.replace("replaceid", val);
                $.ajax({
                    type: "GET",
                    url: url,
                    //  data: myusername,
                    cache: false,
                    success: function (data) {
                        html = "";
                        if (data.length == 0) {
                            alert("No existen camas disponibles en la sala seleccionada");
                        }
                        for ($i = 0; $i < data.length; $i++) {
                            html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                        }
                        $('#cama').html(html);
                    }
                });
            }
        }
        function getSalas() {
            baseurl = "{{ path('getsalas',{'id':'replaceid'}) }}";
            centro = $('#centro_ubic');
            val = centro.val();

            if (val != "" && val != undefined) {
                var url = baseurl.replace("replaceid", val);
                $.ajax({
                    type: "GET",
                    url: url,
                    //  data: myusername,
                    cache: false,
                    success: function (data) {
                        html = "";
                        if (data.length == 0) {
                            alert("No existen camas disponibles en la sala seleccionada");
                        }
                        for ($i = 0; $i < data.length; $i++) {
                            html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                        }
                        $('#sala').html(html);
                        getCamas();
                    }
                });
            }
        }
    </script>
{% endblock %}
