{% extends 'base.html.twig' %}


{% block content %}

    <div class="x_panel">
        <div class="x_title">
            <h2>Areas de Salud</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="form-group row">
                <div class="col-md-4 col-sm-4">
                    <a class="btn btn-success" href="{{ path('area_salud_new') }}"><span class="fa fa-plus"></span>Adicionar</a>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 table-responsive">


                            <table class="table">
                                <thead>
                                <tr>

                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Provincia</th>
                                    <th>Municipio</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for area_salud in area_saluds %}
                                    <tr>

                                        <td><a href="{{ path('area_salud_show', {'id': area_salud.id}) }}">{{ area_salud.nombre }} </a></td>
                                        <td>{{ area_salud.descripcion }}</td>
                                        <td>{{ area_salud.provincia }}</td>
                                        <td>{{ area_salud.municipio }}</td>
                                        <td>
                                            <a href="{{ path('area_salud_edit', {'id': area_salud.id}) }}"><span class="fa fa-pencil"></span></a>
                                           {{ include('area_salud/_delete_form.html.twig') }}

                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">No hay registros para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                </div>
            </div>

        </div>
    </div>

{% endblock %}
