{% extends 'base.html.twig' %}


{% block content %}

<div class="x_panel">
    <div class="x_title">
        <h2>Provincias</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <div class="form-group row">
            <div class="col-md-4 col-sm-4">
                <a class="btn btn-success" href="{{ path('provincia_new') }}"><span class="fa fa-plus"></span>Adicionar</a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">


    <table class="table">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Municipios</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for provincium in provincias %}
            <tr>

                <td>          <a href="{{ path('provincia_show', {'id': provincium.id}) }}">{{ provincium.nombre }}</a></td>
                <td>
                    {%  for mun in provincium.municipios  %}
                    <span class="fa fa-road">{{ mun }}</span>
                        <br>
                    {% endfor %}
                </td>
                <td>

                    <a  href="{{ path('provincia_edit', {'id': provincium.id}) }}"><span class="fa fa-pencil"></span></a>
                    <a  href="{{ path('provincia_edit', {'id': provincium.id}) }}"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            </div>
        </div>

    </div>
</div>

{% endblock %}
