{% extends 'base.html.twig' %}

{% block title %}Provincia{% endblock %}

{% block body %}
    <h1>Provincia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ provincium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ provincium.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('provincia_index') }}">back to list</a>

    <a href="{{ path('provincia_edit', {'id': provincium.id}) }}">edit</a>

    {{ include('provincia/_delete_form.html.twig') }}
{% endblock %}
