<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}SGCA {% endblock %}</title>

    <!-- Bootstrap -->
    <link href={{ asset("plugins/bootstrap/dist/css/bootstrap.min.css") }} rel="stylesheet">
    <!-- Font Awesome -->
    <link href={{ asset("plugins/font-awesome/css/font-awesome.min.css") }} rel="stylesheet">
    <!-- NProgress -->
    <link href={{ asset("plugins/nprogress/nprogress.css") }} rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{{ asset('plugins/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
    <!-- Datatables -->

    <link href="{{ asset('plugins/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{{ asset('plugins/select2/dist/css/select2.css') }}" rel="stylesheet">

    <style>
    .dt-buttons{
        float: right;
    }
</style>
    {% block  styles %}

    {% endblock %}
    <!-- Custom Theme Style -->
    <link href={{ asset("local/css/custom.css") }} rel="stylesheet">
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ path('default') }}" class="site_title"><i class="fa fa-user-md"></i>
                        <span>SGCA</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->

                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a href="{{ path('default') }}"><i class="fa fa-home"></i> INICIO </a>

                            </li>
                            {% if not is_granted('ROLE_ADMIN_MUN') %}
                            <li><a><i class="fa fa-users"></i> Pacientes <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    {% if is_granted("ROLE_AREA") or is_granted("ROLE_HOSPITAL") or is_granted("ROLE_LABORATORIO") %}
                                    <li><a href="{{ path('paciente_new') }}">Insertar</a></li>
                                    {% endif %}

                                    <li><a href="{{ path('paciente_index') }}">Gestionar</a></li>
                                    {% set d="now"| date('d')
                                    %}
                                    {% set m="now"| date('m') %}
                                    {% set y="now"| date('y') %}
                                   <li><a href="{{ path('paciente_evolutivo',{'d':d,'m':m,'y':y}) }}">Evolutivo</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if not is_granted('ROLE_AREA') and not is_granted('ROLE_LABORATORIO')  %}
                            <li><a><i class="fa fa-hospital-o"></i> Centro <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('centro_new') }}">Insertar</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('centro_index') }}">Gestionar</a></li>
                                    <li><a href="{{ path('sala_index') }}">Gestionar Salas</a></li>
                                    <li><a href="{{ path('cama_index') }}">Gestionar Camas</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADMIN_MUN') %}
                                <li><a><i class="fa fa-cogs"></i> Configuracion <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="{{ path('usuario_index') }}">Usuarios</a></li>
                                        {% if not is_granted('ROLE_ADMIN_MUN') %}

                                        <li><a href="{{ path('estado_cama_index') }}">Gestionar Estado de las Camas</a>
                                        </li>
                                        {% endif %}
                                        <li><a href="{{ path('area_salud_index') }}">Gestionar Areas</a></li>
                                       {% if not is_granted('ROLE_ADMIN_MUN') %}
                                        <li><a href="{{ path('provincia_index') }}">Gestionar Provincias</a></li>

                                        <li><a href="{{ path('municipio_index') }}">Gestionar Municipios</a></li>
                                        {% endif %}
                                        <li><a href="{{ path('consultorio_index') }}">Gestionar Consultorio</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if not is_granted('ROLE_ADMIN_MUN') %}
                            <li><a><i class="fa fa-bell"></i> Alertas <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('notificacion_index') }}">Gestionar</a></li>
                                </ul>
                            </li>
{% endif %}
                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path('app_logout') }}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                    <ul class=" navbar-right">
                        <li class="nav-item dropdown open" style="padding-left: 15px;">
                            <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true"
                               id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-2x fa-user"></span>{{ app.user }}
                            </a>
                            <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" href="{{ path('app_logout') }}"><i
                                            class="fa fa-sign-out pull-right"></i> Salir</a>
                            </div>
                        </li>
{% if not is_granted('ROLE_ADMIN_MUN') %}
                        <li role="presentation" class="nav-item dropdown open">
                            <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1"
                               data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bell-o"></i>
                                <span class="badge bg-green" id="notice-cant"></span>
                            </a>
                            <ul class="dropdown-menu list-unstyled msg_list" role="menu"
                                aria-labelledby="navbarDropdown1" >
                               <div id="notice-content">

                               </div>
                                <li class="nav-item">
                                    <div class="text-center">
                                        <a class="dropdown-item" href="{{ path('notificacion_index') }}">
                                            <strong>Ver todas</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            {% for message in app.flashes('error') %}
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <div class="alert alert-error"
                             style="text-align: center;position: fixed;z-index: 100;right: 0;bottom: 45px;">
                            {{ message }}
                        </div>
                    </div>

                </div>

            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <div class="alert alert-success"
                             style="text-align: center;position: fixed;z-index: 100;right: 0;bottom: 45px;">
                            {{ message }}
                        </div>
                    </div>

                </div>

            {% endfor %}
            {% block content %}

            {% endblock %}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gobierno Provincial Matanzas <a href="https://www.matanceros.gobmtz.co.cu">Jose Alberto Fonseca
                    Calistre</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src={{ asset("plugins/jquery/dist/jquery.min.js") }}></script>
<!-- Bootstrap -->
<script src={{ asset("plugins/bootstrap/dist/js/bootstrap.bundle.min.js") }}></script>
<!-- FastClick -->
<script src={{ asset("plugins/fastclick/lib/fastclick.js") }}></script>
<!-- NProgress -->
<script src={{ asset("plugins/nprogress/nprogress.js") }}></script>

<!-- bootstrap-daterangepicker -->
<script src=" {{ asset('plugins/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

<!-- Datatables -->
<script src="{{ asset('plugins/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script src="{{ asset('plugins/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
<script src="{{ asset('plugins/jszip/dist/jszip.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/build/pdfmake.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/build/vfs_fonts.js') }}"></script>

<script src="{{ asset('plugins/select2/dist/js/select2.min.js') }}"></script>


{% block scripts %}

{% endblock %}
<!-- Custom Theme Scripts -->
<script src={{ asset("local/js/custom.min.js") }}></script>
<script>
    $('table thead th').each( function () {
        var title = $(this).text();

        $(this).html( '<b>'+title+'</b><input style="width: 80px" type="text" placeholder="Buscar" />' );
    } );
    {%  if pacientes is not defined %}
    $("table").DataTable({
        dom: "Blfrtip",
        buttons: [ {extend: "excel", className: "fa fa-save"}, {
        //    extend: "pdfHtml5",
            className: "btn-sm"
        }, {extend: "print", className: "fa fa-print"},{extend: "pdf", className: "fa fa-save"}],
        responsive: 0,  initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;

                $( 'input', this.header() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    }).init();
    {% else %}

  var tablap=  $("#pacientes").DataTable({
        searchDelay: 1000,

        lengthMenu: [
          [ 10, 25, 50,100,500 ],
          [ '10', '25', '50 ','100','500' ]
      ],
      dom: "Blfrtip",
      buttons: [ {extend: "excel", className: "fa fa-save"}, {
          //    extend: "pdfHtml5",
          className: "btn-sm"
      }, {extend: "print", className: "fa fa-print"},{extend: "pdf", className: "fa fa-save"}],
        responsive: 0,
        language: {
            "url": "{{  asset('plugins/datatables.net/Spanish.json') }}"
        },
        order: [[ 0, "asc" ]],
        processing: true,
        serverSide: true,
        ajax: {"url":"{{ path('data_demand') }}",
            "type":"POST",
            "data":function(data){
            data.filtro=filtro;
            }
        },
        columns: [
            {% set cr=0 %}
            {% if is_granted("ROLE_AREA") %}

            { "name": "fecha_confirmacion", "targets": {{ cr }} },
            {% set cr=cr+1 %}
            {% endif %}
            { "name": "nombre", "targets": {{ cr }} },
            {% set cr=cr+1 %}
            { "name": "apellidos", "targets": {{ cr }} },
            {% set cr=cr+1 %}
            { "name": "carnet", "targets": {{ cr }} },
            {% set cr=cr+1 %}
            { "name": "pasaporte", "targets": {{ cr }} },
            {% set cr=cr+1 %}
            { "name": "edad", "targets": {{ cr }} },
            {% set cr=cr+1 %}
            { "name": "riesgo", "targets":{{ cr }} },
            {% set c=cr+1 %}
            { "name": "provincia", "targets":{{ cr }} },
            {% set c=cr+1 %}
            { "name": "municipio", "targets": {{ cr }} },
            {% set c=cr+1 %}
            { "name": "area", "targets": {{ cr }} },
            {% set c=cr+1 %}
            {% if is_granted("ROLE_AREA") %}
            { "name": "consultorio", "targets": {{ cr }} },
            {% set c=cr+1 %}
            { "name": "direccion", "targets": {{ cr }} },
            {% set c=cr+1 %}
            {% endif %}
            { "name": "centro", "targets": {{ cr }} },
            {% set c=cr+1 %}
            { "name": "sala", "targets": {{ cr }} },
            {% set c=cr+1 %}
            { "name": "cama", "targets": {{ cr }} },
            {% set c=cr+1 %}
            { "name": "transporte_sanitario", "targets":  {{ cr }} },
            {% set c=cr+1 %}

            {% if is_granted("ROLE_COORDINADOR_MUNICIPAL") or is_granted("ROLE_COORDINADOR_PROVINCIAL") %}
            { "name": "observaciones", "targets": {{ cr }} },
            {% set cr=cr+1 %}
            {% endif %}
            { "name": "acciones", "targets": {{ cr }} }

        ],
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;

                $( 'input', this.header() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
    });

    {% endif %}
</script>
<script>

    setTimeout(function () {
        $('.alert').hide();
    }, 5000);


    //Obtener Municipio de provincia seleccionada*/
    {#
    function getMunicipio(){

            baseurl = "{{ path('getmunicipios',{'id':'replaceid'}) }}";
            if ($('.municipio') == undefined ||$('.municipio').length==0) return;
            val = $('.provincia')[0].value;
            if (val != "" && val != undefined) {
                var url = baseurl.replace("replaceid", val);
                $.ajax({
                    type: "GET",
                    url: url,
                    //  data: myusername,
                    cache: false,
                    success: function (data) {
                        html = "";
                        for ($i = 0; $i < data.length; $i++) {
                            html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                        }
                        if(data.length>0) {
                            $('.municipio')[0].innerHTML = html;
                           getCentros();
                           getAreas();
                        }else{
                            /*$('.municipio')[0].innerHTML = "";
                            $('.cama')[0].innerHTML = "";*/
                        }
                    }
                });
            }

    }
    //Obtener Areas de Salud del Municipio Seleccionado
    function getAreas(){

        baseurl = "{{ path('getareas',{'id':'replaceid'}) }}";
        if ($('.area') == undefined || $('.area') .length==0) return;
        val = $('.municipio')[0].value;

        if (val != "" && val != undefined) {
            var url = baseurl.replace("replaceid", val);
            $.ajax({
                type: "GET",
                url: url,
                //  data: myusername,
                cache: false,
                success: function (data) {
                    html = "";
                    for ($i = 0; $i < data.length; $i++) {
                        html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                    }
                    if(data.length>0) {
                        $('.area')[0].innerHTML = html;
                        getConsultorio();
                    }else{
                        /*$('.municipio')[0].innerHTML = "";
                        $('.cama')[0].innerHTML = "";*/
                    }
                }
            });
        }

    }
    //Obtener Consultorios del Area de Salud seleccionada
    function getConsultorio(){

        baseurl = "{{ path('getconsultorios',{'id':'replaceid'}) }}";
        if ($('.consultorio') == undefined || $('.consultorio') .length==0) return;
        val = $('.area')[0].value;
        if (val != "" && val != undefined) {
            var url = baseurl.replace("replaceid", val);
            $.ajax({
                type: "GET",
                url: url,
                //  data: myusername,
                cache: false,
                success: function (data) {
                    html = "";
                    for ($i = 0; $i < data.length; $i++) {
                        html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                    }
                    if(data.length>0) {
                        $('.consultorio')[0].innerHTML = html;

                    }else{
                        /*$('.municipio')[0].innerHTML = "";
                        $('.cama')[0].innerHTML = "";*/
                    }
                }
            });
        }

    }



    //Obtener Centros del Municipio Seleccionado
    function getCentros(){

        baseurl = "{{ path('getcentros',{'id':'replaceid'}) }}";
        if ($('.centro') == undefined || $('.centro') .length==0) return;
        val = $('.municipio')[0].value;
        if (val != "" && val != undefined) {
            var url = baseurl.replace("replaceid", val);
            $.ajax({
                type: "GET",
                url: url,
                //  data: myusername,
                cache: false,
                success: function (data) {
                    html = "";
                    for ($i = 0; $i < data.length; $i++) {
                        html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                    }
                    if(data.length>0) {
                        $('.centro')[0].innerHTML = html;
                       getSalas();
                    }else{
                        /*$('.municipio')[0].innerHTML = "";
                        $('.cama')[0].innerHTML = "";*/
                    }
                }
            });
        }

    }
/* Obtener Salas del centro selccionado*/
    function getSalas() {
        baseurl = "{{ path('getsalas',{'id':'replaceid'}) }}";
        if ($('.sala') == undefined|| $('.sala').length==0) return;
        val = $('.centro')[0].value;
        if (val != "" && val != undefined) {
            var url = baseurl.replace("replaceid", val);
            $.ajax({
                type: "GET",
                url: url,
                //  data: myusername,
                cache: false,
                success: function (data) {
                    html = "";
                    for ($i = 0; $i < data.length; $i++) {
                        html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                    }
                    if(data.length>0) {
                        $('.sala')[0].innerHTML = html;
                      getCamas();
                    }else{
                      /*  $('.sala')[0].innerHTML = "";
                        $('.cama')[0].innerHTML = "";*/
                    }
                }
            });
        }
    }
    //Obtener Camas de la sala seleccionada
    function getCamas () {
        baseurl = "{{ path('getcamas',{'id':'replaceid'}) }}";
        sala=$('.sala');
        if ($('.cama')== undefined || $('.cama').length==0) return;
        val = sala[0].value;
        if (val != "" && val != undefined) {
            var url = baseurl.replace("replaceid", val);
            $.ajax({
                type: "GET",
                url: url,
                //  data: myusername,
                cache: false,
                success: function (data) {
                    html = "";
                    for ($i = 0; $i < data.length; $i++) {
                        html += "<option value='" + data[$i].id + "'>" + data[$i].nombre + "</option>";
                    }
                    $('.cama')[0].innerHTML = html;
                }
            });
        }
    }
#}
    {% if not is_granted('ROLE_ADMIN_MUN') %}
    function getNotifications(){
        $.ajax({
            type: "POST",
            url: "{{ path('notificacion_get') }}",
            //  data: myusername,
            cache: false,
            success: function (data) {
                //console.warn(data[0]);
                $("#notice-cant").html(data.cant);
                html="";
                for(i=0;i<data.cant;i++){
                    if(data[i]==undefined){
                        break;
                    }
                    fechas=data[i].fecha.date.split(" ");
                    today= new Date();
                    today=today.getFullYear()+"-"+((today.getMonth()+1)<10?"0":"")+(today.getMonth()+1)+"-"+today.getDate();

                        fechaw=(fechas[0]==today?fechas[1].split(".")[0]:fechas[0]);
                    html+='<li class="nav-item">\n' +
                        '                                    <a class="dropdown-item" onclick="MarcarLeida('+data[i].id+')">\n' +
                        '                                        <span class=" image fa fa-user-md"></span>\n' +
                        '                                        <span>\n' +
                        '                            <span>'+data[i].origen+'</span>\n' +
                        '                            <span class="time">'+fechaw+'</span>\n' +
                        '                          </span>\n' +
                        '                                        <span class="message">\n' +data[i].mensaje+" " +data[i].paciente+
                        '                          </span>\n' +
                        '                                    </a>\n' +
                        '                                </li>';

                }

                $("#notice-content").html(html);

            }
        });
    }
    function MarcarLeida(id) {

        baseurl="{{ path('notificacion_leida',{'id':'replaceid'}) }}";
        baseurl=baseurl.replace("replaceid",id);

        $.ajax({
            type: "POST",
            url: baseurl,
            //  data: myusername,
            cache: false,
            success: function (data) {
                window.location=data.url;
            }

        });
    }
    $(document).ready(function(){

        getNotifications();
        setInterval(getNotifications,15000);
        var select=$('#acompannante');
        if(select!=undefined && select!=null) {
            select.select2({
                ajax: {
                    url: "{{ path('getpacientes') }}",
                    type: 'POST',
                    data: function (params) {
                        var query = {
                            busqueda: params.term,
                            paciente:$('#data-acompannante').val()

                        }

                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    }
                }
            });
        }

      /*  $('.provincia').change(getMunicipio);
        $('.municipio').change(getCentros);
        $('.municipio').change(getAreas());
        $('.area').change(getConsultorio());
        $('.centro').change(getSalas);

        $('.sala').change(getCamas);*/


    });
    {% endif %}
</script>
{%  if form is defined  %}
{% if form.sala is defined and form.cama is defined %}
    <script>

        //tambien podemos hacer $('#') para obtener el id
        var $sala= $('#{{ form.sala.vars.id }}');


        // cada vez que el usuario cambie el pais en el select
        $sala.on('change',getCamas);

        function getCamas(){
            // creamos la data, solo con el campo del pais,
            // ya que es el dato relevante en este caso.
            var data = $('#{{ form.sala.vars.id }}').serialize();
            // Hacemos un envío del formulario, lo que ejecutará el evento preSubmit
            // del listener AddStateFieldSubscriber,
            // y actualizará el campo state, con los estados del pais seleccionado.
            var  $form5= $('#{{ form.sala.vars.id }}').closest('form');
            $.ajax({
                url : $form5.attr('action'),
                type: $form5.attr('method'),
                data : data,
                success: function(html) {

                    $('#{{ form.cama.vars.id }}').replaceWith($(html).find('#{{ form.cama.vars.id }}'));

                }
            });

        }
    </script>
{% endif %}

{% if form.centro is defined and form.sala is defined %}
    <script>

        //tambien podemos hacer $('#') para obtener el id
        var $centro= $('#{{ form.centro.vars.id }}');


        // cada vez que el usuario cambie el pais en el select
        $centro.on('change',getSalas);

        function getSalas(){
            // creamos la data, solo con el campo del pais,
            // ya que es el dato relevante en este caso.
            var data = $('#{{ form.centro.vars.id }}').serialize();
            // Hacemos un envío del formulario, lo que ejecutará el evento preSubmit
            // del listener AddStateFieldSubscriber,
            // y actualizará el campo state, con los estados del pais seleccionado.
            var  $form4= $('#{{ form.centro.vars.id }}').closest('form');
            $.ajax({
                url : $form4.attr('action'),
                type: $form4.attr('method'),
                data : data,
                success: function(html) {

                    $('#{{ form.sala.vars.id }}').replaceWith($(html).find('#{{ form.sala.vars.id }}'));
                    {%  if form.cama is defined %}
                    $('#{{ form.sala.vars.id }}').on('change',getCamas);
                    {% endif %}
                }
            });

        }
    </script>
{% endif %}


{% if form.municipio is defined and form.centro is defined %}
    <script>

        //tambien podemos hacer $('#') para obtener el id
        var $municipio2= $('#{{ form.municipio.vars.id }}');


        // cada vez que el usuario cambie el pais en el select
        $municipio2.on('change',getCentros);

        function getCentros(){
            // creamos la data, solo con el campo del pais,
            // ya que es el dato relevante en este caso.
            var data = $('#{{ form.municipio.vars.id }}').serialize();
            // Hacemos un envío del formulario, lo que ejecutará el evento preSubmit
            // del listener AddStateFieldSubscriber,
            // y actualizará el campo state, con los estados del pais seleccionado.
            var  $form3= $('#{{ form.municipio.vars.id }}').closest('form');
            $.ajax({
                url : $form3.attr('action'),
                type: $form3.attr('method'),
                data : data,
                success: function(html) {

                    $('#{{ form.centro.vars.id }}').replaceWith($(html).find('#{{ form.centro.vars.id }}'));

                    {%  if form.sala is defined %}
                    $('#{{ form.centro.vars.id }}').on('change',getSalas);
                    {% endif %}
                }
            });

        }
    </script>
{% endif %}

{% if form.area is defined and form.consultorio is defined %}
    <script>

        //tambien podemos hacer $('#') para obtener el id
        var $area1= $('#{{ form.area.vars.id }}');


        // cada vez que el usuario cambie el pais en el select
        $area1.on('change',getConsultorios);

        function getConsultorios(){
            // creamos la data, solo con el campo del pais,
            // ya que es el dato relevante en este caso.
            var data = $('#{{ form.area.vars.id }}').serialize();
            // Hacemos un envío del formulario, lo que ejecutará el evento preSubmit
            // del listener AddStateFieldSubscriber,
            // y actualizará el campo state, con los estados del pais seleccionado.
            var  $form2= $('#{{ form.area.vars.id }}').closest('form');
            $.ajax({
                url : $form2.attr('action'),
                type: $form2.attr('method'),
                data : data,
                success: function(html) {

                    $('#{{ form.consultorio.vars.id }}').replaceWith($(html).find('#{{ form.consultorio.vars.id }}'));
                }
            });

        }
    </script>
{% endif %}

{% if form.municipio is defined and form.area is defined %}
    <script>
        var $municipio1= $('#{{ form.municipio.vars.id }}');
        //tambien podemos hacer $('#') para obtener el id
        // cada vez que el usuario cambie el pais en el select

        $municipio1.on('change',getAreas );
            function getAreas(){

                // creamos la data, solo con el campo del pais,
                // ya que es el dato relevante en este caso.
                var data = $('#{{ form.municipio.vars.id }}').serialize();
                // Hacemos un envío del formulario, lo que ejecutará el evento preSubmit
                // del listener AddStateFieldSubscriber,
                // y actualizará el campo state, con los estados del pais seleccionado.
               var  $form1= $('#{{ form.municipio.vars.id }}').closest('form');
                $.ajax({
                    url : $form1.attr('action'),
                    type: $form1.attr('method'),
                    data : data,
                    success: function(html) {

                        $('#{{ form.area.vars.id }}').replaceWith($(html).find('#{{ form.area.vars.id }}'));
                        {% if form.centro is defined %}
                        $('#{{ form.centro.vars.id }}').replaceWith($(html).find('#{{ form.centro.vars.id }}'));
                        {% endif %}
                        {%  if form.consultorio is defined %}
                        $('#{{ form.area.vars.id }}').on('change',getConsultorios);
                        {% endif %}
                    }
                });

        }
    </script>
{% endif %}

{% if form.provincia is defined and form.municipio is defined  and not is_granted('ROLE_ADMIN_MUN')%}
    <script>
        var $provincia = $('#{{ form.provincia.vars.id }}');
        //tambien podemos hacer $('#') para obtener el id

        var $form = $provincia.closest('form');

        // cada vez que el usuario cambie el pais en el select
        $provincia.on('change', function() {
            // creamos la data, solo con el campo del pais,
            // ya que es el dato relevante en este caso.
            var data = $provincia.serialize();
            // Hacemos un envío del formulario, lo que ejecutará el evento preSubmit
            // del listener AddStateFieldSubscriber,
            // y actualizará el campo state, con los estados del pais seleccionado.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#{{ form.municipio.vars.id }}').replaceWith($(html).find('#{{ form.municipio.vars.id }}'));
                    {%  if form.area is defined %}
                    $('#{{ form.municipio.vars.id }}').on('change',getAreas);
                    {% endif %}

                }
            });
        });

    </script>
{% endif %}
{% endif %}
</body>
</html>
