{{ form_start(form) }}


<div>
    {{ form_widget(form.nombre) }}

</div>
<div>
    {{ form_widget(form.descripcion) }}
</div>
<div>
    {{ form_widget(form.provincia) }}
</div>
<br>
<div>
    {{ form_widget(form.municipio) }}
</div>
<br>
<div>
    {{ form_widget(form.tipo) }}
</div>
<br>
<div  style="text-align: left;">
    {{ form_widget(form.anexo) }}<p style="display: inline">Es un anexo de un hospital</p>
</div>
<div>
    {{ form_widget(form.hospital) }}
</div>
{{ form_widget(form) }}
<br>
<div class="row">
    <div class="col-md-6">
        <button type="button" onclick="window.location='{{  path('centro_index') }}';" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
    </div>
</div>

<div class="clearfix"></div>

{{ form_end(form) }}

<script>
    function Mostrar(){
        $s=$("#centro_anexo")[0].checked;

        if($s){
$("#centro_hospital").show();
        }else{
            $("#centro_hospital").hide();
        }
    }
</script>