{% extends 'base.html.twig' %}

{% block title %}Centro{% endblock %}

{% block body %}
    <h1>Centro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ centro.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ centro.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ centro.descripcion }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ centro.tipo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('centro_index') }}">back to list</a>

    <a href="{{ path('centro_edit', {'id': centro.id}) }}">edit</a>

    {{ include('centro/_delete_form.html.twig') }}
{% endblock %}
